body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

.nav_bar {
    font-size: 30px;
    font-weight: bold;
}

.nav_text {
display: flex;
align-items: center;
justify-content: right;
}
.container{
    margin-top: 30px;
}
.title_photo {
    text-align: center;
}

.my_photo{
    background: url(../image/IMG_1983.JPG) no-repeat center center;
    background-size: 100%;
    width: 200px;
    height: 200px;
}

.nav_logo{
    background: url(../image/IMG_1970.JPG) no-repeat center center;
    background-size: 100%;
    width: 74px;
    height: 82px;
}

.button_js {
    text-align: center;
}   

#myButton {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color:
    #4e6bc2;
    color:
    #fff;
    font-weight: bold;
}
#demo img {
    margin-top: 20px;
    width: 25%;
}